<!-- Compete in the 2015 Southeastcon robotics competition -->
<launch>
    <group ns="robot">
        <node name="mission_control" pkg="ieee2015_mission_control" type="competition_control.py" 
            output="screen" />   
        <node name="tf_broadcaster" pkg="ieee2015_tf_broadcaster" type="tf_broadcaster.py" 
            output="screen" />

        <node name="joystick_control" pkg="ieee2015_diagnostics" type="joystick_command" 
            <!-- <!-- output="screen" /> --> -->

        <node name="mecanum_control" pkg="ieee2015_controller" type="mecanum_controller.py" 
            <!-- <!-- output="screen" /> --> -->
        <node name="vehicle_control" pkg="ieee2015_controller" type="vehicle_controller.py" 
            <!-- output="screen" /> -->

        <node name="xmega_connector" pkg="xmega_connector" type="xmega_connector_publisher.py" 
            <!-- <!-- respawn="true" output="screen" > --> -->
            <rosparam>
                port: /dev/xmega_tty
            </rosparam>
        </node>
        
        <include file="$(find ieee2015_launch)/launch/arm_camera.launch"/>
        <include file="$(find ieee2015_launch)/launch/base_camera.launch"/>


        <node name="transformation" pkg="ieee2015_localization" type="transformation.py"
            output="screen" />
    </group>
</launch>
