<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ieee2015_robot)/config/robot_control_config.yaml" command="load"/>


  <param name="robot_description" textfile="$(find ieee2015_robot)/urdf/IEEEurdf.URDF"/>
  
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/robot" args="base_controller_gazebo shoulder_controller_gazebo elbow_controller_gazebo joint_state_controller_gazebo"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/robot/joint_states" />
  </node>

</launch>