<launch>
  <include file="$(find ieee2015_robot)/launch/robot_control.launch"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ieee2015_gazebo_sim)/media/ieee.world"/>
  </include>


  <node name="vehicle_controller" pkg="ieee2015_controller" type="vehicle_controller.py"
        output="screen" ns="/robot" />  
  <node name="arm_controller" pkg="ieee2015_controller" type="arm_controller.py"
        output="screen" ns="/robot" />
  <node name="gazebo_transform" pkg="ieee2015_robot" type="transform.py"
        output="screen" ns="/robot" />

  <node name="ros_control" pkg="rospy_tutorials" type="talker" />

  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  
  <node
    name="spawn_urdf"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find ieee2015_robot)/urdf/IEEEurdf.URDF -urdf 
      -x 0.3 -y 0.0 -z 0.06 -model ieee2015_robot"
    output="screen" />

  <node
    name="spawn_sdf"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find ieee2015_gazebo_sim)/stage/model.sdf -sdf 
      -x 0.6096 -y -1.2192 -z 0.0 -model stage" 
    output="screen" />

  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />

</launch>